<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrrVTAL8crRJorlSnHKT8fa12QrdvVcTE</string>
	<key>GCM_SENDER_ID</key>
	<string>893934423884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.furkanages.elements</string>
	<key>PROJECT_ID</key>
	<string>periodictable-e0d8e</string>
	<key>STORAGE_BUCKET</key>
	<string>periodictable-e0d8e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893934423884:ios:59f837970073c8d60fc9e9</string>
</dict>
</plist>